<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>os_version</key>            <string>26</string>
    <key>os_name</key>               <string>Tahoe</string>
    <key>pane_id</key>               <string>com.apple.systempreferences.AppleIDSettings:icloud</string>
    <key>has_icloud_section</key>    <false/>
    <key>features_path</key>         <string>group 3 of scroll area 1 of group 1 of group 3 of splitter group 1 of group 1 of window 1</string>

    <key>hme_tile_identifier</key>   <string>six-pack-card-Hide My Email</string>
    <key>hme_tile_role</key>         <string></string>
    <key>hme_tile_role_index</key>   <integer>0</integer>
    <key>hme_tile_index</key>        <integer>0</integer>

    <key>create_button_role</key>       <string></string>
    <key>create_button_role_index</key> <integer>0</integer>
    <key>create_button_index</key>      <integer>0</integer>
    <key>create_button_names_en</key>   <string>Create New Address</string>

    <key>label_field_group_index</key>  <integer>4</integer>
    <key>label_field_index</key>        <integer>1</integer>

    <key>confirm_flow</key>              <string>named</string>
    <key>confirm_continue_names_en</key> <string>Continue</string>
    <key>confirm_continue_names_de</key> <string>Fortfahren</string>
    <key>confirm_copy_names_en</key>     <string>Copy Address</string>
    <key>confirm_copy_names_de</key>     <string>Adresse kopieren</string>
    <key>confirm_done_names_en</key>     <string>Done</string>
    <key>confirm_done_names_de</key>     <string>Fertig</string>
</dict>
</plist>
