<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.klizzy.hidemymail</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>945D000B-B6C8-4E7F-8C2C-26AF2A880B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC04F4E8-31B4-482D-A1BA-FADCC7CCDC77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC04F4E8-31B4-482D-A1BA-FADCC7CCDC77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36478728-1765-4DAA-9749-69D0E88C2B3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Klizzy</string>
	<key>description</key>
	<string>Workflow to generate a new iCloud Hide My Mail address</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hide My Maill</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:trigger_keyword}</string>
				<key>subtext</key>
				<string>Pass your wanted label as argument</string>
				<key>text</key>
				<string>hide</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>945D000B-B6C8-4E7F-8C2C-26AF2A880B0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>76</integer>
				<key>script</key>
				<string>on run argv
  tell application "System Settings"
    activate
    delay 0.5
    reveal pane id "com.apple.systempreferences.AppleIDSettings*AppleIDSettings"
  end tell
  tell application "System Events"
    tell application process "System Settings"
      tell splitter group 1 of group 1 of window 1
        tell group 2 to tell group 1 to tell scroll area 1 to tell group 3
          repeat until UI element 1 exists
            delay 0
          end repeat
          click UI element 1
          repeat until UI element 2 exists
            delay 0
          end repeat
          click UI element 2
        end tell
      end tell
      repeat until group 1 of group 1 of UI element 1 of scroll area 1 of sheet 1 of window 1 exists
        delay 0
      end repeat
      tell window 1 to tell sheet 1 to tell scroll area 1 to tell UI element 1
         tell group 1 of group 1
           click UI element 4 of group 1
           repeat until text field 1 of group 4 exists
             delay 0
           end repeat
           click text field 1 of group 4
           set value of text field 1 of group 4 to argv
         end tell
         tell group 1 to tell group 2 to tell group 1
           repeat until UI element 1 of group 2 exists
             delay 0
           end repeat
           click UI element 1 of group 2
           repeat until UI element 1 of group 1 exists
             delay 0
           end repeat
           click UI element 1 of group 1
           repeat until UI element 1 of group 2 exists
             delay 0
           end repeat
           click UI element 1 of group 2
           repeat until UI element 1 of group 1 exists
             delay 0
           end repeat
           click UI element 1 of group 1
         end tell
       end tell
    end tell
  end tell
  tell application "System Settings"
    delay 1
    quit
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC04F4E8-31B4-482D-A1BA-FADCC7CCDC77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>iCloud mail has been added to your clipboard</string>
				<key>title</key>
				<string>Success!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>36478728-1765-4DAA-9749-69D0E88C2B3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-hide-my-mail

---

![Hide-My-Mail.png](icon.png)


🎩 Create a new iCloud Hide My Mail address with a specified label via Alfred and have it copied to your clipboard.

## Showcase

---
&gt; The whole shown process is completed within a couple seconds. Go to the Github link at the end, to see the process live in action.

![Hide-My-Mail2.png](alfred-command.png)


## Installation

---
1. Download the latest `.alfredworkflow` file from the [releases page](https://github.com/Klizzy/alfred-hide-my-mail/releases).
2. Double-click the downloaded file to import it into Alfred 5.

## Usage

---
1. Open Alfred (default shortcut: `Option + Space`).
2. Type `hide` followed by the label you want to assign to the new iCloud Hide My Mail address.
3. Press `Enter`.
4. Press `CMD + V` to paste the generated iCloud Hide My Mail address.

The workflow will open the MacOS System Settings, navigate to the appropriate section, create a new iCloud Hide My Mail address with the specified label and adds the generate mail to your clipboard.

## Requirements

---
1. Alfred 5.1 or later
2. Active [iCloud+](https://support.apple.com/guide/icloud/mm9d9012c9e8/icloud) subscription
3. MacOS 14.1 or later

## Configuration

---
You can change the keyword to trigger the workflow by opening the Alfred Preferences, navigating to the `Workflows` tab, selecting the `Hide My Mail` workflow, and clicking on the `Configure Workflow` button. Here you can change the keyword to your desired value.
- The default keyword is `hide`.

## Why?

---
On some websites you don't get the native icloud+ hide my mail prompt for the email field, so it has to be created manually.
The complete process is automated with this workflow, so you don't have to click 8-10 times through the system settings to get your generated mail.

## Contact &amp; Support

---
- [Code &amp; Support](https://github.com/Klizzy/alfred-hide-my-mail)
- [LinkedIn](https://www.linkedin.com/in/steven-zemelka-82807b279/)

## Credits

---
The main script is heavily inspired by a created Shortcut from [this reddit thread](https://www.reddit.com/r/shortcuts/comments/yp5817/comment/je8o0or/)</string>
	<key>uidata</key>
	<dict>
		<key>36478728-1765-4DAA-9749-69D0E88C2B3B</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>945D000B-B6C8-4E7F-8C2C-26AF2A880B0F</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>AC04F4E8-31B4-482D-A1BA-FADCC7CCDC77</key>
		<dict>
			<key>note</key>
			<string>Applescript - GUI Scripting</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hide</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to start the execution</string>
			<key>label</key>
			<string>Trigger Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Klizzy/alfred-hide-my-mail</string>
</dict>
</plist>
